<section class="py-40"
    style="background-image: url('./assets/images/get-started.jpg'); background-size: cover; background-position: center; width: 100vw; margin-left: calc(-50vw + 50%);">
    <div class="container mx-auto px-6">
        <div class="text-center max-w-4xl mx-auto">
            <div
                class="bg-light-text bg-opacity-90 p-12 rounded-xl shadow-xl md:p-20 rounded-3xl shadow-2xl lg:p-20 rounded-3xl shadow-3xl max-w-5xl border border-white/20">
                <div class="text-3xl md:text-4xl lg:text-5xl font-bold text-dark-text mb-6"
                    style="font-family: 'DM Serif Display', serif !important;">Ready to make business fun again?</div>
                <p class="text-xl text-dark-text opacity-90 mb-8">Get business services tailored to your needs.</p>
                <div class="cta-buttons">
                    <a href="https://calendly.com/mosaicbusinesssolutionsllc" target="_blank"
                        class="bg-deep-plum text-light-text px-12 py-5 rounded-full font-bold hover:scale-105 transition-transform shadow-xl inline-block">Get
                        Started</a>
                </div>
            </div>
        </div>
    </div>
</section>