<header class="bg-light-text shadow-2xl border-b border-gray-200" style="z-index: 50; position: relative;">
    <nav class="container mx-auto px-6 py-10 flex items-center justify-between">
        <a href="index.html" class="text-3xl font-bold text-deep-plum font-poppins logo tracking-[0.03em]">
            <div>SILVER<span class="text-plum font-light">TREE</span></div>
            <div class="text-sm font-normal text-dark-text tracking-[0.1em] text-center -mt-2">Business Consulting</div>
        </a>
        <div class="flex items-center gap-8 nav-right">
            <ul class="hidden md:flex gap-6 font-medium font-poppins tracking-wide">
                <li><a href="services.html"
                        class="text-dark-text hover:text-copper transition-colors font-medium">Services</a></li>
                <li><a href="case-study.html"
                        class="text-dark-text hover:text-copper transition-colors font-medium">Case
                        Study</a>
                </li>
                <li><a href="about.html"
                        class="text-dark-text hover:text-copper transition-colors font-medium">About</a>
                </li>
            </ul>
            <div class="nav-buttons">
                <a href="https://calendly.com/mosaicbusinesssolutionsllc" target="_blank"
                    class="bg-deep-plum text-light-text px-6 py-2 rounded-[50px] font-medium hover:scale-105 transition-transform primary-btn">Schedule
                    Call</a>
            </div>
        </div>
    </nav>
</header>